:host::ng-deep {
  .toast {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    background: #ccd6fa;
    padding: 16px;
    gap: 8px;
    margin-top: 24px;
    .icon {
      display: flex;
      align-self: flex-start;
      .fl-icon__char {
        font-size: 20px;
        color: #595959;
      }
    }
    .message {
      color: var(--theme-light-text-text-01, #191919);
      font-family: 'SantanderMicroText', sans-serif;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}
