:host {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  margin: 24px 0;
  margin-bottom: 0;
  .head-movements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    .title-section {
      h3,
      p {
        margin: 0;
      }
      h3 {
        color: var(--theme-light-text-text-01, #191919);
        font-family: 'SantanderHeadline', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
      }
      p {
        color: var(--theme-light-text-text-02, #4c4c4c);
        font-family: 'SantanderText', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }
    .btn-filter {
      background-color: var(--sn-color__clear);
      color: var(--sn-color__santander);
      padding: 8px 16px;
      border-radius: 12px;
      cursor: pointer;
    }
  }
  .movements-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    max-height: 450px;
    overflow-y: scroll;
  }
  .btn-more {
    color: var(--sn-color__santander);
    align-self: center;
    margin: 16px 0 32px;
    cursor: pointer;
  }
  .no-more-movements {
    height: 32px;
  }
  app-empty-state {
    margin-bottom: 32px;
  }
}
