<div class="header">
  <div class="close-btn" (click)="close()">Cancelar</div>
  <div class="title"></div>
  <div class="left-btn"></div>
</div>
<img src="/assets/images/banner/cashbackbaby.svg" alt="banner" class="banner" />
<div class="body">
  <div class="title">Acumulas ¡cada vez que cargues gasolina!</div>
  <div class="description">
    Aplica en gasolineras de todo el país y al pagar tu servicio de gas natural
    o gas LP.
  </div>
  <div class="disclaimer">
    Estás a punto de salir de tu App SuperMóvil para ser dirigido al sitio de
    promociones Cashback.
  </div>
  <button flameButton color="primary" class="btn-dialog" (click)="navigate()">
    Ir al sitio
  </button>
</div>
